$color-background-side-panel: rgb(91, 96, 95);
$color-background-navigation: #5b605f;

$color-body: #292f32;

$color-button-special: #ff6600;
$color-button: white;
$color-buttons-background: #4a4a49;
$color-button-hover: rgb(56, 56, 56);

$color-background-header: #4a4a49;
$color-background-screen: #fffffa;

$color-message-info: #3498db;
$color-message-warning: #ffb03b;
$color-message-success: #468966;

$color-text-heading: #ff6600;
$color-text-column: #4a4a49;
$color-text-highlighted: #ff6600;
$color-text-table: #a1a194;

$color-text: #fffffa;

$color-icon-bin: #bd4932;
$color-icon-extended-functions: #a1a194;
