.newsletter{
  color: $color-text;
  background-color: $color-background-header;

  .container{
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  &__text{
    font-size: 2em;
    display: flex;
    align-items: center;
  }

  &__input{
    display: flex;
    align-items: center;
    &__mail{
      border-radius: 0.1em;
      margin-right: 0.5em;
      padding-left: 1em;
      height: 50px;
      color: $color-buttons-background;
      font-family: $font-arial;
      border: 1px solid transparent;
      &:focus{
        border: 1px solid $color-button-special;
      }
    }
    &__btn{
      height: 50px;
    }
  }
}