.widget {
  flex-grow: 1;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  &__single {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: $color-background-screen;

    .fa-rectangle-xmark {
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &__text {
    flex-grow: 1;
  }

  &__info {
    color: $color-message-info;
    border: 1px dotted $color-message-info;
  }

  &__warning {
    color: $color-message-warning;
    border: 1px dotted $color-message-warning;
  }

  &__success {
    color: $color-message-success;
    border: 1px dotted $color-message-success;
  }
}
